.box {
    top: 58px;
    background-color: #efebff;
    border-radius: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid #644ad2;
    outline: none;
    padding: 50px 20pxposition sticky;
    z-index: 9;
    margin-bottom: 15 px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.font {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin-top: 10px;
}

.fontp {
    font-size: 24px;
    margin-left: 20px;
    width: fit-content
}

.radios {
    font-size: 24;
    justify-content: center;

}

.item {
    padding: 50px
}